<div class="flex-shrink-0">
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Diseño y Consultoría para la mediana empresa</h1>
                        <p class="lead fw-normal text-white-50 mb-4">Mejore su imagen y recuros tecnológicos </p>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="../../assets/image/CosmoX.jpeg" alt="..." /></div>
            </div>
        </div>
    </header>
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">La mejor manera de potenciar su negocio</h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                            <h2 class="h5">Servicios integrales</h2>
                            <p class="mb-0">Diseño de imagen, remodelación y mantenimiento de inmuebles, asesoría en servicios informáticos y ciberseguridad. Desarrollo de páginas web y correos corporativos.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                            <h2 class="h5">Mejora de inmuebles</h2>
                            <p class="mb-0">Remodelamos tus oficinas con las técnicas mas novedosas, creando un ambiente cálido para tus clientes y empleados.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-brush"></i></div>
                            <h2 class="h5">Imagen Corporativa</h2>
                            <p class="mb-0">Diseñamos tu marca desde el logo hasta el más sofisticado promocional de tu marca. Llevamos tu negocio a la nube, con página web y correo electrónico.</p>
                        </div>
                        <div class="col h-100">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-bricks"></i></div>
                            <h2 class="h5">Seguridad Informática</h2>
                            <p class="mb-0">Nos encargamos de proteger toda tu infraestrucura técnologica, evitando que secuestren tus activos informáticos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>